#body-container>#text-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0;
  margin-top: 0;
  padding: 0;
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  min-height: 0;
  overflow: hidden;
}

#text-form>* {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inherit;
  flex-direction: inherit;
}

#text-form>h2 {
  flex: 0 0 auto;
  padding: 0.5rem;
  margin: 0;
}

#text-form #textarea.bordered-textbox {
  background-color: white;
  flex: 1;
  /* Takes up remaining space */
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
  padding: 1rem;
}

#text-form h2.bordered-textbox {
  flex-shrink: 0;
}

#text-form>ol {
  list-style: none;
  padding: 1rem 0;
}

#text-form>ol#textarea>li.text-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 2px auto;
}

li.text-line>input {
  flex: 4;
  box-sizing: border-box;
  margin: 0;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: white;
  color: black;
  /* border: 1px inset gray; */
  box-shadow: inset 0 0 5px lightgray;
  border-radius: 5px;
}

li.text-line>input:read-only {
  background-color: #f0f0f0;
  color: gray;
}

li.text-line>button {
  flex: 1;
  margin-left: 0.5rem;
  background-color: red;
  color: white;
  font-size: 30px;
  font-weight: bolder;
  border-radius: 50%;
  padding: 0.1rem;
  width: fit-content;
  height: fit-content;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 0 2px black;
  flex-shrink: 0;
}

li.text-line>button:hover:enabled {
  background-color: darkred;
  box-shadow: 5px 0 2px #200 inset;
  cursor: pointer;
}

li.text-line>button:disabled {
  background-color: gray;
  color: darkgray;
  cursor: not-allowed;
}

#text-form>#button-group {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  background-color: white;
  border: 4px solid black;
  box-sizing: border-box;
}

#text-form>#button-group>button {
  flex-shrink: 0;
  font-size: 30px;
  font-weight: bold;
  color: black;
  border: 5px outset black;
  padding: 1px !important;
}

#text-form button:disabled {
  background-color: darkgray !important;
  color: #222 !important;
  border: 5px inset black !important;
  font-weight: normal !important;
  cursor: not-allowed !important;
}

#text-form #add-button {
  flex: 1;
  background-color: lightgreen;
}

#text-form #add-button:hover:enabled {
  background-color: green;
  color: white;
  cursor: pointer;
}

#text-form #play-pause-button {
  flex: 1;
  background-color: lightblue;
}

#text-form #play-pause-button:hover:enabled {
  background-color: blue;
  color: white;
  cursor: pointer;
}

#text-form #help-button {
  flex: 1;
  background-color: lightcoral;
}

#text-form #help-button:hover:enabled {
  background-color: coral;
  color: white;
  cursor: pointer;
}

@media (orientation: portrait) {
  #body-container>#text-form {
    width: 100%;
    flex: 1;
  }
}