#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root>h1 {
  flex: 1;
  margin: 0;
  background-color: white;
  color: black;
  width: 100%;
  height: fit-content;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 4px solid black;
}

#root>#body-container {
  display: flex;
  flex-direction: row;
  flex: 9;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* #root>* {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex: 11;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

.bordered-textbox {
  border: 4px solid black;
  background-color: lightgray;
  color: black;
  font-weight: bold;
  padding: 1rem;
}